@import './_variables/general.scss';

@mixin primary-text-style {
    color: $primary-font-color;
    font-family: $primary-font;
    font-size: $primary-font-size;
}

.primary-text {
    @include primary-text-style;
}

@mixin light-text-style {
  color: $light-font-color;
  font-family: $primary-font;
  text-align: center;
}

.light-text {
  @include light-text-style;
}
